security:
    encoders:
        #Symfony\Component\Security\Core\User\User: plaintext
        Blogger\BlogBundle\Entity\User:
            algorithm:        sha1
            encode_as_base64: false
            iterations:       1

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        webservice:
            id: webservice_user_provider
        main:
            entity:
                class: Blogger\BlogBundle\Entity\User
                property: username
        in_memory:
            memory:
                users:
                    user:  { password: userpass, roles: [ 'ROLE_USER' ] }
                    admin: { password: adminpass, roles: [ 'ROLE_ADMIN' ] }

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login:
            pattern:  ^/login$
            security: false

        register:
            pattern:  ^/reg$
            security: false

        #index:
            #pattern:  ^/$
            #security: false

        #test1:
            #pattern:  ^/test1$
            #security: false

        #test2:
            #pattern:  ^/test2$
            #security: false

        secured_area:
            pattern:    ^/
            #form_login:
            simple_form:
                authenticator: time_authenticator
                check_path: login_check
                login_path: login
                #success_handler: true
                #failure_handler: true
            remember_me:
                key:      "%secret%"
                lifetime: 31536000 # 365 days in seconds
                path:     /
                domain:   ~ # Defaults to the current domain from $_SERVER
            logout:
                path:   /logout
                target: /
            anonymous: ~

            oauth:
                resource_owners:
                    qq:           "/login/check_qq"
                    weibo:        "/login/check_weibo"
                login_path:        /login
                use_forward:       false
                failure_path:      /login

                oauth_user_provider:
                    service: my_oauth.user.provider.entity

            #http_basic:
            #    realm: "Secured Demo Area"

    access_control:
        #- { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY, requires_channel: https }
        - { path: ^/secure_area, roles: ROLE_ADMIN }

    acl:
        connection: default
