blogger_blog_homepage:
    pattern:  /
    #defaults: { _controller: BloggerBlogBundle:Default:index }
    defaults: { _controller: BloggerBlogBundle:Page:index }
    requirements:
      _method: GET

blogger_blog_about:
    pattern:  /about
    defaults: { _controller: BloggerBlogBundle:Page:about }
    requirements:
      _method: GET
      _scheme: http

blogger_blog_contact:
    pattern:  /contact
    defaults: { _controller: BloggerBlogBundle:Page:contact }
    requirements:
      _method: GET|POST

blogger_blog_show:
    pattern: /{id}
    defaults: { _controller: BloggerBlogBundle:Blog:show }
    requirements:
      _method: GET
      id: \d+

blogger_blog_comment_create:
    pattern:  /comment/{blog_id}
    defaults: { _controller: BloggerBlogBundle:Comment:create }
    requirements:
        #_method:  POST
        blog_id: \d+

blogger_blog_comment_edit:
    pattern:  /comment/{comment_id}/edit
    defaults: { _controller: BloggerBlogBundle:Comment:edit }
    requirements:
        comment_id: \d+

test_security:
    pattern: /secure_area
    defaults: { _controller: BloggerBlogBundle:Security:dumpString }

blogger_blog_reg:
    pattern:  /reg
    defaults: { _controller: BloggerBlogBundle:Security:reg }
    requirements:
      _method: GET|POST

blogger_blog_userinfo_passwd:
    pattern:  /user/passwd
    defaults: { _controller: BloggerBlogBundle:Security:passwdChange }
    requirements:
      _method: GET|POST

blogger_blog_test1:
    pattern:  /test1
    defaults: { _controller: BloggerBlogBundle:Security:test1 }
    requirements:
      _method: GET|POST

blogger_blog_test2:
    pattern:  /test2
    defaults: { _controller: BloggerBlogBundle:Security:test2 }
    requirements:
      _method: GET|POST

blogger_blog_mq_test:
    pattern:  /mq_test
    defaults: { _controller: BloggerBlogBundle:Page:mqTest }
    requirements:
      _method: GET|POST

