parameters:
#    blogger_blog.example.class: Blogger\BlogBundle\Example
    webservice_user_provider.class: Blogger\BlogBundle\Security\User\WebserviceUserProvider

services:
#    blogger_blog.example:
#        class: %blogger_blog.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
    blogger_blog.twig.extension:
        class: Blogger\BlogBundle\Twig\Extensions\BloggerBlogExtension
        tags:
            - { name: twig.extension }
    #my_service.logger:
        #class: Symfony\Bridge\Monolog\Logger
        #arguments: ["@logger"]
        #tags:
          #- { name: monolog.logger, handlers: applog, channels: applog }
    webservice_user_provider:
            class: "%webservice_user_provider.class%"
            arguments: ["@doctrine.orm.entity_manager"]

    security.access.post_voter:
        class: Blogger\BlogBundle\Security\Authorization\Voter\PostVoter
        public: false
        tags:
            - { name: security.voter }

    security.access.user_voter:
        class: Blogger\BlogBundle\Security\Authorization\Voter\UserVoter
        public: false
        tags:
            - { name: security.voter }
