parameters:
#    blogger_blog.example.class: Blogger\BlogBundle\Example
    webservice_user_provider.class: Blogger\BlogBundle\Security\User\WebserviceUserProvider
    blogger.resolvers.my_custom_annotation_resolver.class: Blogger\BlogBundle\Resolver\MyCustomAnnotationResolver
    deepinid_sso.attr_cookie_name: '_deepininfo_cookie'
    deepinid_sso.name: 'deepininfo'
    deepinid_sso.lifetime: 100
    deepinid_sso.path: '/about'
    deepinid_sso.domain: '.test.com'
    deepinid_sso.secure: false
    deepinid_sso.httponly: false

services:
#    blogger_blog.example:
#        class: %blogger_blog.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
    blogger_blog.twig.extension:
        class: Blogger\BlogBundle\Twig\Extensions\BloggerBlogExtension
        tags:
            - { name: twig.extension }
    #my_service.logger:
        #class: Symfony\Bridge\Monolog\Logger
        #arguments: ["@logger"]
        #tags:
          #- { name: monolog.logger, handlers: applog, channels: applog }
    webservice_user_provider:
            class: "%webservice_user_provider.class%"
            arguments: [@doctrine.orm.entity_manager]

    security.access.post_voter:
        class: Blogger\BlogBundle\Security\Authorization\Voter\PostVoter
        public: false
        tags:
            - { name: security.voter }

    security.access.user_voter:
        class: Blogger\BlogBundle\Security\Authorization\Voter\UserVoter
        public: false
        tags:
            - { name: security.voter }

    blogger.expression.expression:
        class: Blogger\BlogBundle\ExpressionLanguage\ExpressionLanguage
        tags:
            - { name: blogger.expression }

    blogger.resolvers.my_custom_annotation_resolver:
        class: %blogger.resolvers.my_custom_annotation_resolver.class%
        tags:
            - { name: controller_extra.annotation }

    #some_annotation_driver:
        #class: Blogger\BlogBundle\Annotation\Driver\AnnotationDriver
        #tags: [{name: kernel.event_listener, event: kernel.controller, method: onKernelController}]
        #arguments: [@annotation_reader]

    sso_response_listener:
        class: Blogger\BlogBundle\EventListener\SSOCookieListener
        tags: [{name: kernel.event_listener, event: kernel.response, method: onKernelRespone}]
        arguments: [@kernel]

    #redis_anth_driver:
        #class: Blogger\BlogBundle\Security\RedisAnth
        #tags: [{name: kernel.event_listener, event: kernel.request, method: onKernelRequest }]
        #arguments: [@doctrine.orm.entity_manager, @security.context, @snc_redis.login]

    blogger_blog.tblprefix_subscriber:
        class: Blogger\BlogBundle\EventSubscriber\TablePrefixEventSubscriber
        arguments: ["blogger_"]
        tags:
            - { name: doctrine.event_subscriber }

    blogger.comment_listener:
        class: Blogger\BlogBundle\Entity\CommentListener
        tags:
            - { name: doctrine.event_listener, event: preUpdate }
        arguments: [@kernel]
